<!DOCTYPE html>
<html>
<head>
	<title>JSON from server</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="stylesheet" type="text/css" href="/dhtmlxcombo/codebase/dhtmlxcombo.css"/>
	<script src="/dhtmlxcombo/codebase/dhtmlxcombo.js"></script>
	<script>
		
		var myCombo, myCombo2, myCombo3;
		function doOnLoad() {
			
			// JSON from server
			myCombo = new dhtmlXCombo("combo_zone");
			myCombo.load("/templates_combo", function(){
				// callback
			});
			

		}
	</script>
</head>
<body onload="doOnLoad();">
	<h3>JSON from server</h3>
	<div id="combo_zone" style="width:230px;"></div>
	<br>

	Due ajax call loaded in async mode - to perform operations with options<br>
	you need to use onXLE event or load callback to make sure options loaded into combo
</body>
</html>
