<div id="tabs">
    <ul>
        <li><a href="#administration">Administration</a></li>
    </ul>


    <div id="administration">
        <table id="administration-table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
