<div id="tabs">
    <ul>
        <li><a href="#patients">Patients</a></li>
        <li><a href="#templates">Templates</a></li>
        <li><a href="#consents">Consents</a></li>
    </ul>


    <div id="patients">
        <table id="patients-table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Registration Date</th>
                <th>Address</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Registration Date</th>
                <th>Address</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="templates">
        <table id="templates-table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Template Name</th>
                <th>Template Version</th>
                <th>Created By</th>
                <th>Creation Date</th>
                <th>Updated By</th>
                <th>Date of Update</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>Template Name</th>
                <th>Template Version</th>
                <th>Created By</th>
                <th>Creation Date</th>
                <th>Updated By</th>
                <th>Date of Update</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="consents">
        <table id="consents-table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Template Name</th>
                <th>Template Version</th>
                <th>Consent Date</th>
                <th>CRC Name</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Template Name</th>
                <th>Template Version</th>
                <th>Consent Date</th>
                <th>CRC Name</th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>
