<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
    <tr>
        <td class="footer_bottom" style="width:25%;">


        </td>
        <td class="footer_bottom" style="width:50%; text-align:center">
            Powered by
            <a href="http://www.adaptive-clinical.com/" target="_blank">Adaptive Clinical</a>
        </td>
        <td class="footer_bottom" style="width:25%; text-align:right">
            <div  id="version">Version: 1.0 </div></td>
    </tr>
    </tbody>
</table>
