doctype html
html
    head
        link(rel='stylesheet', href='/datatables/media/css/jquery.dataTables.css')
        link(rel='stylesheet', href='/datatables/extensions/TableTools/css/dataTables.tableTools.css')
        link(rel='stylesheet', href='/datatables/extensions/Editor-PHP-1.4.0/css/dataTables.editor.css')
        link(rel='stylesheet', href='/css/syntax/shCore.css')
        link(rel='stylesheet', href='/css/iconsent.css')
        link(rel='stylesheet', href='/jquery-ui/themes/excite-bike/jquery-ui.css')

        script(src='/datatables/media/js/jquery.js', language='javascript', type='text/javascript')
        script(src='/datatables/media/js/jquery.dataTables.js', language='javascript', type='text/javascript')
        script(src='/datatables/extensions/TableTools/js/dataTables.tableTools.js', language='javascript', type='text/javascript')
        script(src='/datatables/extensions/Editor-PHP-1.4.0/js/dataTables.editor.js', language='javascript', type='text/javascript')
        script(src='/js/syntax/shCore.js', language='javascript', type='text/javascript')
        script(src='/js/app.js', language='javascript', type='text/javascript')
        script(src='/js/datatable-editor.js', language='javascript', type='text/javascript')
        script(src='/jquery-ui/jquery-ui.js', language='javascript', type='text/javascript')
        script(src='/js/tabs-init.js', language='javascript', type='text/javascript')
        script(src='/js/datatables-init.js', class='init', language='javascript', type='text/javascript')
    body
        ul.nav
            if (typeof(user) == 'undefined')
                li
                    a(href="/register") Register
                li
                    a(href="/login") Log In
            else
                li
                    a(href="/logout") Log Out
        if (user)
            include content.html
        else
            p You are currently not logged in. Please login...