<!doctype html>
<html ng-app="iConsent">
<head>
    <link rel="stylesheet" type="text/css" href="/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/datatables/extensions/TableTools/css/dataTables.tableTools.css">
    <link rel="stylesheet" type="text/css" href="/datatables/extensions/Editor-1.3.3/css/dataTables.editor.css">
    <link rel="stylesheet" type="text/css" href="/datatables/examples/resources/syntax/shCore.css">
    <link rel="stylesheet" type="text/css" href="/datatables/examples/resources/demo.css">
    <style type="text/css" class="init">

    </style>
    <script type="text/javascript" language="javascript" src="/datatables/media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script type="text/javascript" language="javascript" src="/datatables/extensions/Editor-1.3.3/js/dataTables.editor.js"></script>
    <script type="text/javascript" language="javascript" src="/datatables/examples/resources/syntax/shCore.js"></script>
    <script type="text/javascript" language="javascript" src="/datatables/examples/resources/demo.js"></script>
    <script type="text/javascript" language="javascript" src="/datatables/extensions/Editor-1.3.3/examples/resources/editor-demo.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/js/app.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $.noConflict();


        var editor; // use a global for the submit and return data rendering in the examples

        $(document).ready(function() {
            editor = new $.fn.dataTable.Editor( {
                ajax: "/patients",
                table: "#example",
                fields: [ {
                    label: "First name:",
                    name: "firstName"
                }, {
                    label: "Middle name:",
                    name: "middleName"

                }, {
                    label: "Last name:",
                    name: "lastName"
                }, {
                    label: "Date of birth:",
                    name: "dateOfBirth",
                    type: "date"
                }, {
                    label: "Registration date:",
                    name: "registrationDate"
                }, {
                    label: "Adress:",
                    name: "address"
                }
                ]
            } );

            $('#example').DataTable( {
                dom: "Tfrtip",
                ajax: "/patients",
                columns: [
                    { data: "firstName"},
                    { data: "middleName" },
                    { data: "lastName"},
                    { data: "dateOfBirth" },
                    { data: "registrationDate" },
                    { data: "address" }
                ],
                tableTools: {
                    sRowSelect: "os",
                    aButtons: [
                        { sExtends: "editor_create", editor: editor },
                        { sExtends: "editor_edit",   editor: editor },
                        { sExtends: "editor_remove", editor: editor }
                    ]
                }
            } );
        } );



    </script>


</head>
<body>

<div ng-controller="TabsMainCtrl">


    <tabset justified="true">
        <tab heading="Patients" select="alertMe()">
            <h1>
            Patients
            </h1>
            <div ng-controller="patientsTableCtrl">
                <table  id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>First name</th>
                        <th>Middle name</th>
                        <th>Last name</th>
                        <th>Date of birth</th>
                        <th>Registration date</th>
                        <th>Address</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>First name</th>
                        <th>Middle name</th>
                        <th>Last name</th>
                        <th>Date of birth</th>
                        <th>Registration date</th>
                        <th>Address</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </tab>
        <tab heading="Templates" >
            Templates
        </tab>
        <tab heading="Consents" select="alertMe()">Consents</tab>
    </tabset>
</div>
</body>
</html>
